body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
  }
  
  .cafe-section {
    width: 375px;
    margin: 0 auto;
    padding: 40px 21px; /* 여백 */
    box-sizing: border-box;
  }
  
  .title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .cafe-card {
    margin-bottom: 60px;
  }
  
  .img-box {
    width: 334px;
    height: 260px;
    background-color: #d9d9d9;
    border-radius: 8px;
  }
  
  .text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 1.4;
  }
  